In [1]:
%pip install pandas

^C
Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

In [13]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [14]:
df.drop(["ever_married"], axis=1, inplace=True)
df.drop(["work_type"], axis=1, inplace=True)
df.drop(["Residence_type"], axis=1, inplace=True)
df.drop(["id"], axis=1, inplace=True)

In [17]:
df.sample(7)

,gender,age,hypertension,heart_disease,avg_glucose_level,bmi,smoking_status,stroke
4194,Female,34.00,0,0,76.42,27.6,smokes,0
3295,Male,0.08,0,0,70.33,16.9,Unknown,0
2820,Female,20.00,0,0,102.42,18.6,never smoked,0
2424,Male,37.00,1,0,165.99,32.3,never smoked,0
1975,Male,0.56,0,0,111.77,21.1,Unknown,0
4989,Female,11.00,0,0,123.04,15.9,Unknown,0
3326,Female,23.00,0,0,75.25,39.7,formerly smoked,0

In [19]:
df.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [20]:
df.shape

(5110, 8)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   avg_glucose_level  5110 non-null   float64
 5   bmi                4909 non-null   float64
 6   smoking_status     5110 non-null   object
 7   stroke             5110 non-null   int64
dtypes: float64(3), int64(3), object(2)
memory usage: 319.5+ KB