In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [39]:
df = pd.read_csv('diabetes_prediction_dataset.csv')

In [ ]:
df.drop(["HbA1c_level"], axis=1, inplace=True)
# dont forgot to re run have to do line above first to reset it

In [41]:
df.head(5)

,gender,age,hypertension,heart_disease,smoking_history,bmi,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,140,0
1,Female,54.0,0,0,No Info,27.32,80,0
2,Male,28.0,0,0,never,27.32,158,0
3,Female,36.0,0,0,current,23.45,155,0
4,Male,76.0,1,1,current,20.14,155,0

In [42]:
df.describe()

,age,hypertension,heart_disease,bmi,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,300.000000,1.000000

In [ ]:
df.shape

(100000, 8)

In [ ]:
df.info()
# listed as no info instead off Null (use code to replace words with Null etc)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   blood_glucose_level  100000 non-null  int64
 7   diabetes             100000 non-null  int64
dtypes: float64(2), int64(4), object(2)
memory usage: 6.1+ MB