In [4]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [7]:
df.drop(["ever_married"], axis=1, inplace=True)
df.drop(["work_type"], axis=1, inplace=True)
df.drop(["Residence_type"], axis=1, inplace=True)
df.drop(["id"], axis=1, inplace=True)
df.drop(["avg_glucose_level"], axis=1, inplace=True)
df.drop(["bmi"], axis=1, inplace=True)

In [8]:
df.sample(7)

      gender   age  hypertension  heart_disease   smoking_status  stroke
459   Female  11.0             0              0          Unknown       0
3853  Female  47.0             0              0     never smoked       0
4850    Male  14.0             0              0          Unknown       0
2913  Female  44.0             1              0     never smoked       0
3184  Female  36.0             0              0  formerly smoked       0
2164  Female  49.0             0              0           smokes       0
1612    Male  15.0             0              0     never smoked       0

In [9]:
df.groupby([ "gender","age","hypertension", "heart_disease", "smoking_status"])["stroke"].agg({"mean"})

                                                         mean
gender age   hypertension heart_disease smoking_status
Female 0.08  0            0             Unknown           0.0
       0.32  0            0             Unknown           0.0
       0.40  0            0             Unknown           0.0
       0.48  0            0             Unknown           0.0
       0.56  0            0             Unknown           0.0
...                                                       ...
Male   82.00 0            1             formerly smoked   0.0
                                        never smoked      0.5
                                        smokes            1.0
             1            0             never smoked      0.0
Other  26.00 0            0             formerly smoked   0.0

[1061 rows x 1 columns]

In [10]:
df.groupby(["hypertension", "heart_disease"])["stroke"].agg({"mean"})

                                mean
hypertension heart_disease
0            0              0.033864
             1              0.160377
1            0              0.122120
             1              0.203125

In [ ]:
def chance_of_stroke(gender, age, hypertension, heart_disease, smoking):
    # Format got from chatgpt 

    if gender == "female" or gender == "Female" and age > 65:
        return "High risk"
    if smoking == "smokes":
        return "high risk"
    if hypertension == "yes" or hypertension == "Yes":
        return "high risk"
    if heart_disease == "yes" or hypertension == "Yes":
        return "high risk"
    
    if smoking == "former":
        return "moderate risk"
    if age >= 45 and age <= 65:
        return "moderate risk"
    
    return "low risk"

gender1 = input("What is your gender?")
age1 = int(input("What is your current age?"))
hypertension1 = input("Do you suffer from hypertension?")
heart_disease1 = input("Do you suffer from heart disease?")
smoking_status1 = input("Do you currently smoke (smokes) or have been a smoker in the past (former)")

Test = chance_of_stroke(gender=gender1, age=age1, hypertension=hypertension1, heart_disease=heart_disease1, smoking=smoking_status1)

print(f"Stroke Risk: {Test}")

Stroke Risk: low risk