In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\voidc\onedrive\documents\github\year-2-artificial-intelligence\session3\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [4]:
df.drop(["ever_married"], axis=1, inplace=True)
df.drop(["work_type"], axis=1, inplace=True)
df.drop(["Residence_type"], axis=1, inplace=True)
df.drop(["id"], axis=1, inplace=True)
df.drop(["avg_glucose_level"], axis=1, inplace=True)
df.drop(["bmi"], axis=1, inplace=True)

In [5]:
df.sample(7)

      gender   age  hypertension  heart_disease   smoking_status  stroke
20    Female  71.0             0              0           smokes       1
3613  Female  76.0             1              0  formerly smoked       0
906   Female  68.0             0              0  formerly smoked       0
3240  Female   7.0             0              0          Unknown       0
3552    Male  25.0             0              0          Unknown       0
3292    Male  18.0             0              0     never smoked       0
645     Male  53.0             0              0          Unknown       0

In [6]:
df.groupby([ "gender","age","hypertension", "heart_disease", "smoking_status"])["stroke"].agg({"mean"})

                                                         mean
gender age   hypertension heart_disease smoking_status
Female 0.08  0            0             Unknown           0.0
       0.32  0            0             Unknown           0.0
       0.40  0            0             Unknown           0.0
       0.48  0            0             Unknown           0.0
       0.56  0            0             Unknown           0.0
...                                                       ...
Male   82.00 0            1             formerly smoked   0.0
                                        never smoked      0.5
                                        smokes            1.0
             1            0             never smoked      0.0
Other  26.00 0            0             formerly smoked   0.0

[1061 rows x 1 columns]

In [12]:
df.groupby(["hypertension", "heart_disease"])["stroke"].agg({"mean"})

                                mean
hypertension heart_disease
0            0              0.033864
             1              0.160377
1            0              0.122120
             1              0.203125

In [ ]:
grouped = df.groupby(["age", "hypertension", "heart_disease"])

specific = grouped.get_group((82, 1, 1))
print(specific)

mean = grouped["stroke"].mean()
print(mean)

a = 1

mean_grouped = mean.loc[(82, a, 1)]
print(mean_grouped)

      gender   age  hypertension  heart_disease   smoking_status  stroke
35    Female  82.0             1              1  formerly smoked       1
187   Female  82.0             1              1  formerly smoked       1
3400  Female  82.0             1              1     never smoked       0
4590  Female  82.0             1              1     never smoked       0
age    hypertension  heart_disease
0.08   0             0                0.000000
0.16   0             0                0.000000
0.24   0             0                0.000000
0.32   0             0                0.000000
0.40   0             0                0.000000
                                        ...
81.00  1             1                0.166667
82.00  0             0                0.090909
                     1                0.300000
       1             0                0.111111
                     1                0.500000
Name: stroke, Length: 233, dtype: float64
0.5
0.3

In [64]:
def chance_of_stroke(gender, age, hypertension, heart_disease, smoking):
    # Format got from chatgpt 

    if gender == "Female" and age > 65:
        return "High risk"
    if smoking == "smokes":
        return "high risk"
    if hypertension == "1":
        return "high risk"
    if heart_disease == "1":
        return "high risk"
    
    if smoking == "formerly smoked":
        return "moderate risk"
    if age >= 45 and age <= 65:
        return "moderate risk"
    
    return "low risk"

gender1 = input("What is your gender?")
if gender1 == "female" or gender1 == "Female":
    gender1 = "Female"
else: gender1 = "Male"
age1 = int(input("What is your current age?"))
hypertension1 = input("Do you suffer from hypertension?")
if hypertension1 == "Yes" or hypertension1 == "yes" or hypertension1 == "1" :
    hypertension1 = "1"
    hypertension2 = 1
else: 
    hypertension1 = 0 
    hypertension2 =0
heart_disease1 = input("Do you suffer from heart disease?")
if heart_disease1 == "Yes" or heart_disease1 == "yes" or hypertension1 == "1":
    heart_disease1 = "1"
    heart_disease2 = 1
else: 
    heart_disease1 = 0
    heart_disease2 = 0
smoking_status1 = input("Do you currently smoke (smokes) or have been a smoker in the past (former)")
if smoking_status1 == "former":
    smoking_status1 = "formerly smoked"
elif smoking_status1 == "smokes":
    smoking_status1 = "smokes"
else: 
    smoking_status1 = "never smoked"

Test = chance_of_stroke(gender=gender1, age=age1, hypertension=hypertension1, heart_disease=heart_disease1, smoking=smoking_status1)

print(f"Stroke Risk: {Test}")

# filter age over 65 from chatgpt
if age1 > 65:
    df_over_65 = df[df['age'] > 65]
else: df_over_65 = df[df['age'] < 65]


group = df_over_65.groupby(["gender", "hypertension", "heart_disease", "smoking_status"])

mean = group["stroke"].mean()
# mean.loc got from chatgpt
mean_filter = (mean.loc[(gender1, hypertension2, heart_disease2, smoking_status1)]) * 100
print("Roughly",mean_filter, "percent of people with a similar status of you have experienced a stroke")

Stroke Risk: High risk
Roughly 10.989010989010989 percent of people with a similar status of you have experienced a stroke

In [107]:
def high_risk_of_stroke(person):

    if Female(person):
        if over_65:
            return True
        
    if hypertension(person):
        return True
    
    if heart_disease(person):
        return True
    
    if smoking(person):
        return True
    
    return False

def Female(person):
    return person["gender"] == "Female"

def over_65(person):
    return person["age"] >= 65

def hypertension(person):
    return person["hypertension"] == 1

def heart_disease(person):
    return person["heart_disease"] == 1

def smoking(person):
    return person["smoking_status"] == "smokes"

person = {
    "gender": "Female",
    "age": 65,
    "hypertension": 1,
    "heart_disease": 1,
    "smoking_status": "smokes"
}

comfirmed_high_risk = high_risk_of_stroke(person)
print("high risk:", comfirmed_high_risk)

if comfirmed_high_risk == True:

    df["confirmed_high_risk"] = df.apply(high_risk_of_stroke, axis=1)

    mean_high_risk = (df["confirmed_high_risk"].mean()) * 100

    print("Percentage of datasets that meet at least 1 of the requirements to have a high risk of stroke:", mean_high_risk)

high risk: True
Percentage of datasets that meet at least 1 of the requirements to have a high risk of stroke: 70.56751467710372