Dataset: https://www.kaggle.com/c/titanic/data

# Task 1: Loading required libraries and datasets

**1.1: Load in the Pandas Library**

**1.2: Load in the Titanic dataset**

**1.3: Output the shape of the dataset**

**1.4:  Display a random sample of 5 values from the dataset**

**1.5: Print a summary of the numerical data features**

**1.6: Convert the age column from float to integer**

# Task 2: Finding missing values

**2.1: Check the dataset for missing values**

**2.2: Drop the cabin column from the dataset**

**2.3: Handle at least one column of null values in an appropriate manner (i.e. fill with median, or drop rows/columns)**

# Task 3: Feature Engineering

**3.1: Create a new column called "Family_Size" that combines "SibSp" and "Parch"**

**3.2: Add another column called "Is_Alone" that indicates whether or not each traveller is travelling alone. This should be represented as the values 0 for No, 1 for Yes**

# Task 4 Analysis

**4.1: Calculate the precentage survival rate for those who were travelling alone**

**4.2: Calculate the percentage survival rate for an individual depending upon their family size**

**4.3: What was the median ticket price?**

**4.4: What was the average price paid for a 1st class ticket?**

**4.5: What was the average price paid for a 2nd class ticket?**

**4.6: What was the average price paid for a 3rd class ticket?**

**4.7: How many people on board were married. HINT: use string methods to find names with "Mrs" in them**